@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Report Viewer</h1>
    
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <form asp-action="ViewReport" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="reportFile">Upload Report File (.frx):</label>
                    <input type="file" class="form-control" id="reportFile" name="reportFile" accept=".frx" required>
                </div>
                <div class="form-group mt-3">
                    <label for="reportCode">Report Code:</label>
                    <input type="text" class="form-control" id="reportCode" name="reportCode" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">View Report</button>
            </form>
        </div>
    </div>
</div>
